::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgb(255, 255, 255);
  border: solid 5px transparent;
  border-radius: 30px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(237, 237, 237);
  border: solid 5px transparent;
  border-radius: 30px;
  width: 20px;
}

::-webkit-scrollbar-thumb:active {
  background: #b8b7b7;
  width: 30px;
}
