<h1 mat-dialog-title class="modal-box-title">
    {{title | uppercase}}

</h1>
<div *ngIf="!isLoading else loading">
    <div mat-dialog-content class="modal-box-content">
        <div style="text-align: center;">
            <img src="assets/images/static-swipe-card.jpg" style="width: 200px;
                        padding-top: 100px;" />
        </div>
    </div>

    <div mat-dialog-actions class="modal-box-button-wrapper swipe-button-wrapper">
        <div>
            <button class="modal-box-button" type="button" mat-raised-button (click)="onTouchCancel()">CANCEL</button>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loader-internal"> Loading...</div>
</ng-template>