::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(240, 239, 239, 0.103);
  border: solid 5px transparent;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(210, 210, 210);
  border: solid 5px transparent;
  border-radius: 30px;
}

::-webkit-scrollbar-button {
  display: none;
}
