<h1 mat-dialog-title class="modal-box-title"></h1>

<div mat-dialog-content class="modal-box-body" style="text-align: center;">
  <img src="assets/images/success.png" style="width: 120px;" /><br />
  <span style="font-weight: bold">
    ALL DONE !<br /><br />
    CONFIRMATION EMAILS WILL BE SENT TO YOUR INBOX AT <br /><br />
    TESTING@COLORADO.EDU</span
  >
</div>

<div mat-dialog-actions class="modal-box-button-wrapper">
  <div style="font-weight: bold; margin-bottom: 27px;">
    BACK TO MAIN SCREEN IN: {{ counter }} (s)
  </div>
  <div>
    <button
      class="modal-box-button"
      mat-raised-button
      tabindex="-1"
      (click)="onTouchClose()"
    >
      CLOSE
    </button>
  </div>
</div>
