<mat-drawer-container fullscreen *ngIf="!isLoadComponent">
  <!-- Left Content Section-->
  <mat-drawer mode="side" opened class="left-content-available"
    [class.left-inuse]="status == 'inuse' || status == 'closed'">
    <div class="left-text-top">
      <div class="name">
        {{ roomName | uppercase}}
        <mat-icon style="color: white;" (click)="onTouchDescription()" *ngIf="roomDescription">info_outline</mat-icon>
      </div>
      <span class="capacity"> capacity: {{ roomCapacity || 0 }}</span><br />
    </div>
    <div class="left-text-center">
      <span *ngIf="status == 'available'">AVAILABLE<br />
        NOW</span>
      <span *ngIf="status == 'inuse'">RESERVED<br />
        NOW</span>
      <span *ngIf="status == 'closed'">CLOSED<br />
      </span>
    </div>
    <div style="position: absolute;
    bottom: 1%;
    left: 45%;
    font-size: 12px;
    font-weight: normal;">v1.1.0</div>
  </mat-drawer>
  <!-- Right Content Section-->
  <mat-drawer-content class="right-content-drawer">
    <!-- Date Time Display -->
    <div class="right-time-display">
      <div id="top-time">{{ time | date: 'hh : mm a' }}</div>
      <div class="top-date">{{ time | date: 'EEEE, MMMM dd, yyyy' }}</div>
    </div>

    <!-- Display Calendar -->
    <div class="time-display-main">
      <!-- Calendar - Header -->
      <div class="time-display-main-header">
        <div class="time-display-main-move">
          <button [disabled]="isToday(setDate)" mat-icon-button class="left" (click)="onTouchPreDate()">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>

          <div class="middle-date">
            <span *ngIf="!isToday(setDate); else today">
              {{ setDate | date: 'E, MMM dd' }}</span>
            <ng-template #today>Today</ng-template>
          </div>
          <button [disabled]="isMaxDate(setDate)" mat-icon-button class="right" (click)="onTouchNextDate()">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
        <div class="time-display-main-icon">
          <mat-form-field style="visibility:hidden; display: table-column;">
            <input matInput [matDatepicker]="picker" [value]="setDate" [min]="minDateString" [max]="maxDateString"
              (dateChange)="touchCalendarEvent('change', $event)" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <img src="assets/icons/calendar.png" width="60px" style="margin-bottom: 7px;" (click)="picker.open()" />
        </div>
      </div>

      <div style="clear: both;"></div>


      <div *ngIf="isDone else loading">
        <!-- Schedule Time Slot -->
        <span *ngIf="!isOpen; else display" style="position:
          absolute; top: 50%; left: 40%;">
          {{closedMessage}}
        </span>
        <ng-template #display>
          <table cellpadding="0" cellspacing="0" border="0" width="710px">
            <tbody>
              <tr *ngFor="let time of displayTime;">
                <!-- Begin : First Column-->
                <td class="td-left" style="color: #636363;"
                  *ngIf="time.status === 0 || time.status === 2; else availableDisplayTime">
                  {{ time.displayValue }}
                </td>
                <ng-template #availableDisplayTime>
                  <td class="td-left" (click)="onTouchCalendarTimeSlot(time)">
                    {{ time.displayValue }}
                  </td>
                </ng-template>
                <!-- End : First Column-->

                <!-- Begin : Second Column-->

                <td *ngIf="time.status === 0" class="td-right unavailable" style="border-right: 5px solid
                  #b71d1c"></td>
                <td *ngIf="time.status === 1" class="td-right" (click)="onTouchCalendarTimeSlot(time)"
                  style="border-right: 5px solid #2e7d32">
                </td>
                <td *ngIf="time.status === 2" class="td-right unavailable" style="border-right: 5px solid#525452"></td>

                <!-- End : Second Column-->
              </tr>
            </tbody>

          </table>
          <div class="explain-box">
            <div>
              <span>Available</span>
              <span class="explain-box-available">
                &nbsp; &nbsp;
                &nbsp; </span>
            </div>
            <div style="margin-top: 8px;">
              <span>Reserved</span>
              <span class="explain-box-busy">
                &nbsp; &nbsp;
                &nbsp; </span>
            </div>
            <div style="margin-top: 8px;">
              <span>Unavailable</span>
              <span class="explain-box-unavailable">
                &nbsp; &nbsp;
                &nbsp; </span>
            </div>
            <div></div>
          </div>
        </ng-template>
      </div>

    </div>

    <!-- Bottom Button -->
    <div class="bottom-btn-wraper">
      <ng-template #loading>
        <div class="loader"> Loading...
        </div>

      </ng-template>

      <button mat-button class="bottom-btn btn-reserve" (click)="onTouchReserve()">
        RESERVE
      </button>
      <button mat-button class="bottom-btn btn-browse" (click)="onTouchBrowserRoom()">
        BROWSE ROOMS
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<div class="loading-central" *ngIf="isLoadComponent"> Loading...</div>