<mat-drawer-container fullscreen>
  <!-- Left Content Section-->
  <mat-drawer mode="side" opened class="left-content-available" [class.left-inuse]="status == 'inuse'">
    <div class="left-text-top">
      <div class="name">
        {{ roomName }}
        <mat-icon style="color: white;" (click)="onTouchDescription()" *ngIf="roomDescription">info_outline</mat-icon>
      </div>
      <span class="capacity"> capacity: {{ roomCapacity }}</span><br />
    </div>
    <div class="left-text-center">
      <span *ngIf="status == 'available'">AVAILABLE<br />
        NOW</span>
      <span *ngIf="status == 'inuse'">IN USE<br />
        NOW</span>
    </div>
  </mat-drawer>

  <!-- Right Contetn Section-->
  <mat-drawer-content class="right-content-drawer">
    <!-- Date Time Display -->
    <div class="right-time-display">
      <div id="top-time">{{ time | date: 'hh : mm a' }}</div>
      <div class="top-date">{{ time | date: 'EEEE, MMMM dd, yyyy' }}</div>
    </div>

    <!-- Display Calendar -->
    <div class="time-display-main">
      <!-- Calendar - Header -->
      <div class="time-display-main-header">
        <div class="time-display-main-move">
          <button [disabled]="isToday(setDate)" mat-icon-button class="left" (debounceClick)="onTouchPreDate()"
            appDebounceClick [debounceTime]="700">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>

          <div class="middle-date">
            <span *ngIf="!isToday(setDate); else today">
              {{ setDate | date: 'E, MMM dd' }}</span>
            <ng-template #today>Today</ng-template>
          </div>
          <button [disabled]="isNext3months(setDate)" mat-icon-button class="right" (debounceClick)="onTouchNextDate()"
            appDebounceClick [debounceTime]="700">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
        <div class="time-display-main-icon">
          <mat-form-field style="visibility:hidden; display: table-column;">
            <input matInput [matDatepicker]="picker" [value]="setDate" [min]="minDateString" [max]="maxDateString"
              (dateChange)="touchCalendarEvent('change', $event)" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <img src="assets/icons/calendar.png" width="60px" style="margin-bottom: 7px;" (click)="picker.open()" />
        </div>
      </div>

      <div style="clear: both;"></div>

      <!-- Schedule Time Slot -->
      <span *ngIf="!isOpen; else display" style="position:
        absolute; top: 50%; left: 40%;">
        {{closedMessage}}
      </span>
      <ng-template #display>
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr *ngFor="let time of displayTime; trackBy: trackByFn">
              <!-- Begin : First Column-->
              <td class="td-left" style="color: #636363;" *ngIf="!time.status; else availableDisplayTime">
                {{ time.displayValue }}
              </td>
              <ng-template #availableDisplayTime>
                <td class="td-left" (click)="onTouchCalendarTimeSlot(time)">
                  {{ time.displayValue }}
                </td>
              </ng-template>
              <!-- End : First Column-->

              <!-- Begin : Second Column-->

              <td class="td-right unavailable" style="border-right: 5px solid
                #b71d1c" *ngIf="!time.status; else available"></td>

              <ng-template #available>
                <td class="td-right" (click)="onTouchCalendarTimeSlot(time)" style="border-right: 5px solid #2e7d32">
                </td>
              </ng-template>
              <!-- End : Second Column-->
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
    <!-- Bottom Button -->
    <div class="bottom-btn-wraper">
      <button mat-button class="bottom-btn btn-reserve" (click)="onTouchReserve()">
        RESERVE
      </button>
      <button mat-button class="bottom-btn btn-browse" (click)="onTouchBrowserRoom()">
        BROWSE ROOMS
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ngx-spinner bdColor="rgba(255,255,255,2.0)" color="black" type="ball-spin-clockwise"></ngx-spinner>