/******** Calendar ********/
/* Calendar */

.time-display-main {
  margin-top: 20%;
  color: white;
  font-size: 20px;
}
.time-display-main table {
  margin: 0 auto;
}

.time-display-main table > tbody {
}

.time-display-main-header {
  width: 79%;
  margin: 0 auto;
}
.time-display-main-move {
  float: left;
  width: 48%;
  padding-left: 2px;
}
.time-display-main-icon {
  text-align: center;
}

.time-display-main td {
  padding: 20px 15px 20px 20px;
}

.time-display-main tbody td {
  border: 1px solid white;
}
.time-display-main tbody {
  display: block;
  height: 330px;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
}

.td-left {
  width: 300px;
  text-align: center;
}

.td-right {
  width: 300px;
  text-align: center;
}

.td-right mat-icon {
  font-size: 30px;
  font-weight: bold;
}

.time-display-main button:disabled,
button[disabled] {
  color: #666666;
}

.middle-date {
  display: inline-block;
  padding-top: 10px;
  padding-left: 25%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.time-display-main tr td.unavailable {
  background: #636363;
}
/*
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(240, 239, 239, 0.103);
  -webkit-border-radius: 10px;
  margin: 0 30px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(180, 179, 179);
  -webkit-border-radius: 10px;
} */

::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(240, 239, 239, 0.103);
  border: solid 5px transparent;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(180, 179, 179);
  border: solid 5px transparent;
  border-radius: 30px;
}

::-webkit-scrollbar-button {
  display: none;
}

::ng-deep .mat-calendar {
  height: 71vh !important;
  font-size: 15px;
}

::ng-deep .mat-calendar-body-cell-content {
  font-size: 19px;
}

::ng-deep .mat-calendar-body-label {
  font-size: 19px;
}

::ng-deep .mat-calendar-table-header {
  font-size: 19px;
}

::ng-deep .mat-calendar-spacer {
  font-size: 19px;
}

::ng-deep .mat-button-wrapper {
  font-size: 19px;
}

::ng-deep .mat-calendar-previous-button {
  width: 45px !important;
  height: 45px !important;
}

::ng-deep .mat-calendar-next-button {
  width: 45px !important;
  height: 45px !important;
}

/******** Left Content Section CSS ********/
.left-content-available {
  background: #2e7d32;
  width: 30%;
  color: white;
  text-align: center;
  font-weight: bold;
}

.left-inuse {
  background: #b71d1c;
}

.left-text-top {
  margin-top: 20px;
}

.left-text-top .name {
  font-size: 30px;
}

.left-text-top .capacity {
  font-weight: normal;
}

.left-text-center {
  font-size: 40px;
  margin-top: 75%;
}

/****** Right Content Section CSS *******/

.right-content-drawer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../assets/images/preview.jpeg');
  background-repeat: no-repeat;
  color: white;
}

.right-time-display {
  font-size: 45px;
  font-weight: bold;
  margin: 20px 50px 0 0;
  float: right;
  text-align: right;
}

.top-date {
  font-size: 30px;
}

/* Right - Button CSS */

.bottom-btn-wraper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 0 10px 10px 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.bottom-btn {
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  width: 230px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
}

.btn-reserve {
  margin-right: 10px;
}

/** MODAL BOX - GENERAL **/
.modal-box-title {
  text-align: center;
  font-size: 20px;
}

.modal-box-body {
  height: 63%;
  margin: auto;
  width: 85%;
  padding: 0px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-box-button-wrapper {
  /* width: 53%; */
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.modal-box-button {
  margin-left: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  height: 50px;
  width: 150px;
}
::ng-deep .mat-dialog-container {
  padding: 10px 24px 24px 24px;
}

/** SELECT TIME MODAL BOX */
.select-time-list {
  padding: 0;
}

.select-time-list li {
  position: relative;
  left: 0;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 2em;
}

.select-time-item {
  display: flex;
}

.select-time-list li .available {
  /* border: 1px solid green; */
  background: #2e7d32;
  color: white;
}

.select-time-list li .box {
  width: 120px;
  text-align: center;
  padding: 5px;
  margin: 5px 0 0 auto;
  border-radius: 5px;
  height: 20px;
  float: right;
}

.select-time-list li .busy {
  background: #b71d1c;
  color: white;
}

.select-time-list li .seleted-text {
  font-weight: bold;
}

.select-time-list li .selected {
  background: #f59f16;
  color: white;
  font-weight: bold;
}

.time-display {
  padding-left: 5px;
  padding-top: 4px;
}

.unavailable-time {
  text-decoration: line-through;
  padding-left: 5px;
}

/** CONFIRMATION BOX **/
.confirmation-table {
  margin: 40px auto;
}

.confirmation-table tr {
  vertical-align: top;
}

.td-content {
  padding-left: 50px;
}

.td-label {
  padding-top: 8px;
}

/* SWIPE CARD BOX */
.swipe-button-wrapper {
}

/* BROWSE ROOM BOX */
.browse-room-title {
  display: flex;
  align-items: center;
  color: #292929;
}

.browse-room-left {
  width: 45%;
  float: left;
}

.browse-room-right {
  width: 50%;
  height: 64%;
  float: right;
  padding-top: 5px;
}
.browse-room-right ul {
  overflow: auto;
  height: 130%;
  width: auto;
}

.browse-room-body {
  height: 75%;
  margin: 10px;
  width: 100%;
}

.current-room {
}
.mat-list {
}
.mat-room-title {
  font-weight: bold;
  padding: 8px 0px 8px 0px;
}
.mat-expansion-room {
  box-shadow: none;
}
.list-room {
  color: rgb(140, 140, 140);
}

::ng-deep .mat-expansion-room .mat-expansion-panel-body {
  padding: 0px;
}

::ng-deep .mat-expansion-room .mat-expansion-panel-content {
  padding: 0px;
  width: 99%;
}

.current-room {
  display: block;
  height: 30px;
  margin: 0 0 7px 0;
  background: rgb(240, 245, 254) center no-repeat;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(201, 218, 250);
  font-weight: bold;
}

.current-room .mat-list-text {
  font-weight: bold;
}
.task-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
  color: white;
}
.fx-spacer {
  flex: 1 1 auto;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.loader {
  font-size: 10px;
  position: absolute;
  bottom: 4%;
  left: 40%;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-internal,
.loader-internal:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.loader-internal {
  font-size: 10px;
  position: relative;
  margin: 25% auto;
  text-indent: -9999em;
  border-top: 1em solid rgba(52, 52, 52, 0.639);
  border-right: 1em solid rgba(52, 52, 52, 0.639);
  border-bottom: 1em solid rgba(52, 52, 52, 0.639);
  border-left: 1em solid rgba(240, 239, 239, 0.103);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.unique-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

.unique-form-field {
  width: 100%;
}
