<h1 mat-dialog-title class="modal-box-title">
    <span style="display: inline-flex;
        vertical-align: middle;">
        <mat-icon style="padding-right: 10px;">account_balance</mat-icon>
        {{locationName | uppercase}}
    </span>
</h1>
<div mat-dialog-content class="browse-room-body">
    <div class="browse-room-left">
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let category of browseRoomsDisplay" class="mat-expansion-room"
                [expanded]="true">
                <mat-expansion-panel-header class="right-aligned-header">
                    <mat-panel-title class="mat-room-title">
                        {{category.name | uppercase}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list class="mat-list">
                    <mat-list-item class="list-room" *ngFor="let room of
                        category.items" [ngClass]="{'current-room':room.name ==
                        currentRoom}" (click)="onSelectRoom(room)">
                        <mat-icon matListIcon *ngIf="room.name ===
                            currentRoom" style="color: #3F50B5">check_circle</mat-icon>
                        <mat-icon matListIcon *ngIf="room.name !==
                            currentRoom">check_circle_outline</mat-icon>
                        <h3 matLine>
                            {{room.name}}
                        </h3>
                    </mat-list-item>
                </mat-list>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="browse-room-right">
        <div style="width: auto; margin: 0 auto;">
            <div class="time-display-main-move" style="display: contents;">
                <button mat-icon-button [disabled]="isToday(setDate)" class="left" (click)="onTouchPreDate()">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>

                <div class="middle-date" style="padding-left: 36%;font-weight:
                    bold;">
                    <span *ngIf="!isToday(setDate); else today">
                        {{setDate | date:'E, MMM dd'}}</span>
                    <ng-template #today>Today</ng-template>
                </div>
                <button mat-icon-button class="right" [disabled]="isNext3months(setDate)" (click)="onTouchNextDate()">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div *ngIf="loading; else loaded" style="margin: 5px 0px 0px 10px;">
            loading... </div>

        <ng-template #loaded>
            <span style="text-align: center; margin-top: 30%; list-style: none;" *ngIf="!isOpen; else display">
                The library is closed</span>
            <ng-template #display>
                <ul class="select-time-list" *ngIf="isOpen">
                    <li *ngFor="let time of displayTime; trackBy: trackByFn" class="select-time-item"
                        (click)="onTouchSelectTime(time)">
                        <span>
                            <mat-icon>access_time</mat-icon>
                        </span>
                        <div *ngIf="time.status; else inuse" style="display:
                            contents">
                            <span class="time-display" [class.seleted-text]="time.active">
                                {{time.displayValue}}
                            </span>
                            <span *ngIf="!time.active" class="box available">AVAILABLE</span>
                            <span *ngIf="time.active" class="box selected">SELECTED</span>
                        </div>
                        <ng-template #inuse style="display: contents">
                            <span class="time-display unavailable-time">
                                {{time.displayValue}}
                            </span>
                            <span class="box busy">IN USE</span></ng-template>
                    </li>
                </ul>
            </ng-template>


        </ng-template>

    </div>
</div>

<div mat-dialog-actions class="modal-box-button-wrapper">
    <div>
        <button class="modal-box-button" mat-raised-button tabindex="-1" (click)="onTouchClose()">CLOSE</button>
        <button class="modal-box-button" mat-raised-button [disabled]="isDisabledNextBtn"
            (click)="onTouchNextConfirm()">NEXT</button>
    </div>
</div>