body {
  margin: 0;
  font-family: sans-serif;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  padding: 8px 0px 8px 0px;
}

/** MODAL BOX - GENERAL **/
.modal-box-title {
  text-align: center;
  font-size: 20px;
}

.modal-box-body {
  height: 63%;
  margin: auto;
  width: 85%;
  padding: 0px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-box-button-wrapper {
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
}
.modal-box-button-wrapper-browse-room {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
}
.modal-box-button-wrapper-browse-room button {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-left: 10px;
}
.modal-box-button-wrapper button {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-left: 10px;
}

::ng-deep .mat-dialog-container {
  padding: 10px 24px 24px 24px;
}

/** SELECT TIME MODAL BOX */
.select-time-list {
  padding: 0;
  height: 100%;
}

.select-time-list li {
  position: relative;
  left: 0;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 2em;
}

.select-time-item {
  display: flex;
}

.select-time-list li .available {
  /* border: 1px solid green; */
  background: #2e7d32;
  color: white;
}

.select-time-list li .box {
  width: 120px;
  text-align: center;
  padding: 5px;
  margin: 5px 0 0 auto;
  border-radius: 5px;
  height: 20px;
  float: right;
}

.select-time-list li .busy {
  background: #b71d1c;
  color: white;
}

.select-time-list li .seleted-text {
  font-weight: bold;
}

.select-time-list li .selected {
  background: #f59f16;
  color: white;
  font-weight: bold;
}

.time-display {
  padding-left: 5px;
  padding-top: 4px;
}

.unavailable-time {
  text-decoration: line-through;
  padding-left: 5px;
}

/** CONFIRMATION BOX **/
.confirmation-table {
  margin: 40px auto;
}

.confirmation-table tr {
  vertical-align: top;
}

.td-content {
  padding-left: 50px;
}

.td-label {
  padding-top: 10px;
}

/* BROWSE ROOM BOX */
.browse-room-title {
  display: flex;
  align-items: center;
  color: #292929;
}

.browse-room-left {
  width: 45%;
  float: left;
  height: 485px;
  overflow-y: auto;
  overflow-x: hidden;
}

.browse-room-right {
  width: 50%;
  height: 476px;
  float: right;
  padding-top: 5px;
}
.browse-room-right ul {
  overflow-y: auto;
  overflow-x: hidden;
  height: 420px;
  width: auto;
}

.browse-room-body {
  height: 477px;
  margin: auto;
  width: 100%;
  padding: 0px 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mat-room-title {
  font-weight: bold;
  padding: 8px 0px 8px 0px;
}
.mat-expansion-room {
  box-shadow: none;
}
.list-room {
  color: rgb(140, 140, 140);
}

::ng-deep .mat-expansion-room .mat-expansion-panel-body {
  padding: 0px;
}

::ng-deep .mat-expansion-room .mat-expansion-panel-content {
  padding: 0px;
  width: 99%;
}

.current-room {
  display: block;
  height: 30px;
  margin: 0 0 7px 0;
  background: rgb(240, 245, 254) center no-repeat;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(201, 218, 250);
  font-weight: bold;
}

.current-room .mat-list-text {
  font-weight: bold;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.loader {
  font-size: 10px;
  position: absolute;
  bottom: 4%;
  left: 40%;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-internal,
.loader-internal:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.loader-internal {
  font-size: 10px;
  position: relative;
  margin: 25% auto;
  text-indent: -9999em;
  border-top: 1em solid rgba(169, 167, 167, 0.623);
  border-right: 1em solid rgba(169, 167, 167, 0.623);
  border-bottom: 1em solid rgba(169, 167, 167, 0.623);
  border-left: 1em solid rgba(210, 208, 208, 0.267);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.unique-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

.unique-form-field {
  width: 100%;
}

.wrapper {
  display: -webkit-flex;
  -webkit-justify-content: center;

  display: flex;
  justify-content: center;
}

.wrapper button {
  -webkit-flex: 1;
  flex: 1;
}
.mat-expansion-indicator {
  display: none;
}

tbody::-webkit-scrollbar {
  width: 30px;
}

tbody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(240, 239, 239, 0.103);
  border: solid 5px transparent;
  border-radius: 30px;
}

tbody::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(210, 210, 210);
  border: solid 5px transparent;
  border-radius: 30px;
}

tbody::-webkit-scrollbar-button {
  display: none;
}
